div {
    background-color: lightgrey;
    width: 600px;
    border: 10px solid black;
    padding: 50px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
    margin-top: 50px;
}

button {
    margin-left:80px;
    padding:10px;
    height:65px;
    width: 65px;
}